.container-outer1 {
    background-color: #222;
    height: 75px;
    padding: 8px 32px 8px 16px;
}
.book-show-button-conatiner1{
  margin-top: 0%;
 
}
#book-show {
    float: right;
    margin-right: 8px;
}
#btn-login1 {
    float: right;
    margin-bottom: 0%;
   
}
.app-logo {
    animation: app-logo-spin infinite 8s linear;
    height: 35px;
    background: #ff7f7f;
    
 }
.ReactModal__Content {
    display: table;
  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
   
}
.ReactModal__Content--after-open {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    align-content: center;
}
.dispNone {
    display: none;
}
.dispBlock {
    display: block;
}
.red {
    color: red;

}
 @keyframes app-logo-spin {
    from { transform: scaleX(-1); }
 }